body,
html {
  height: 100%;
}
#image {
  height: 80vh;
  background-color: black;
  text-align: center;
}

.wrapper {
  display: flex;
  width: max-content;
}

#consignes {
  /* display: flex; */
  height: max-content;
  font-family: sans-serif;
  /* height : 15; */
  bottom: 0;
  height: 20vh;
  width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 1%;
  padding-top: 1%;
  text-align: center;
  font-size: 4vh;
  background-color: beige;
}

#image img {
  height: 80vh;
  width: auto;
}

#image area:link {
  cursor: default;
}

#go,
.inline {
  font-family: sans-serif;
  font-size: 3vh;
  overflow: auto;
  background: #f0edd3;
  padding: 20px;
  max-width: 120vh;
  min-width: 40vh;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
}
#inline form input[type="button"],
#inline form input[type="submit"],
#inline form input[type="text"] {
  font-size: 150%;
}
